@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import "./style/vars.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Roboto', sans-serif ;
    font-size: 20px;
    background: $color1;
}
    
.container{
    width: 70%;
    margin:0 auto;
}
